<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>srvIniciarSesion</servlet-name>
        <servlet-class>Controlador.srvIniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>Controlador.ClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>RutaServlet</servlet-name>
        <servlet-class>Controlador.RutaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutaServlet</servlet-name>
        <url-pattern>/RutaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BusServlet</servlet-name>
        <servlet-class>Controlador.BusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusServlet</servlet-name>
        <url-pattern>/BusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChoferServlet</servlet-name>
        <servlet-class>Controlador.ChoferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChoferServlet</servlet-name>
        <url-pattern>/ChoferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvIniciarSesion</servlet-name>
        <url-pattern>/srvIniciarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
